.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  color: #4b588969;
  font-weight: bolder;
}

// .avatar-post {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 40px;
//   border-radius: 50%;
//   background-color: #4b588969;;
//   color: white;
//   font-weight: bolder;
// }

.avatar-post-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  font-size: 1.2vw;
  border-radius: 50%;
  background-color: #4b588969;;
  color: white;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
