.navbar {
  justify-content: space-between;
  background: #4b588969;
  margin-bottom: 7vh;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.login-text {
  color: white;
  border: 1px solid white;
  transition: 1.2s;
}

.login-text:hover {
  color: #4b5889c9;
  border: 1px solid #4b5889c9;
}
