.outer-div-vp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#post-before-after {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1vw;
}

#post-before-after a {
  color: #666c85;
  font-variant: all-small-caps;
  font-size: 2.3vmin;
}

#header-vp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 10%;
  margin-bottom: 1.5vw;
  margin-top: 2vw;
}

#header-vp h6 {
  font-size: 2.5vmin;
}

#header-vp p {
  font-size: 2.2vmin;
}

#header-vp i {
  font-size: 1vmin;
  color: #4b588969;
}

#add-cms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 10%;
  margin-bottom: 1.5vw;
  margin-top: 2vw;
  font-size: 2.4vmin;
}

#cms {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50vw;
  min-height: 10%;
  margin-bottom: 1vw;
}

#cms p {
  text-align: justify;
  font-size: 2.2vmin;
}

#add-comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #B2B7CB !important;
  border: #B2B7CB solid .5px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-decoration: none !important;
  padding: .5vw;
  font-size: 2.2vmin;
  &:hover {
    background-color: #B2B7CB;
    color: white !important;
  }
}

#header-cms {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 60vw;
  height: 10%;
  margin-bottom: 1.5vw;
  margin-top: 2vw;
}

#content-vp {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60vw;
  min-height: 40vh;
  border-radius: 10px;
  background-color: #E7E7E7;
  padding: 1.5vw;
  margin-bottom: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: #3A383A !important;
  text-align: justify;
  font-size: 2.3vmin;
}

#bottom-vp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  height: 10%;
  margin-bottom: 2vw;
  margin-top: .8vw;
}
